$color-principal: #9FC088;
$dia-delamadre: #F68989;
$dia-delpadre: #68A7AD;
$tipografia_uno: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$tipografia_dos: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';